version: 1.0.0.{build}

configuration:
- Debug
- FWDLL
- Release

image: Visual Studio 2022

build:
  project: bin\vs22\ALL_BUILD.vcxproj
  parallel: true
  verbosity: minimal

environment:
  VULKAN_SDK: C:\VulkanSDK\1.4.304.0
  VK_SDK_PATH: C:\VulkanSDK\1.4.304.0
  Vulkan_INCLUDE_DIR: C:\VulkanSDK\1.4.304.0\include  # Vulkanヘッダファイルのパス
  Vulkan_LIBRARY: C:\VulkanSDK\1.4.304.0\Lib\vulkan-1.lib  # Vulkanライブラリのパス
  SKIP_PAUSE: 1 # bat停止の回避策

# 必要なツールのインストール
install:
  # Vulkan SDKをダウンロードしてインストール
  - ps: |
      iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
      Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/1.4.304.0/windows/vulkan-sdk -OutFile vulkan_sdk.exe
      ./vulkan_sdk.exe --accept-licenses --default-answer --confirm-command install
      Remove-Item vulkan_sdk.exe -Force
      $env:PATH = "C:\Program Files (x86)\Microsoft Visual Studio\Installer;C:\VulkanSDK\1.4.304.0\Bin;$env:PATH"
      git config --global advice.detachedHead false

before_build:
  - cmd: echo Creating qt_msvc folder and linking to Qt 6.9...
  - cmd: if not exist qt_msvc mkdir qt_msvc
  - cmd: if not exist qt_msvc\qtbase mklink /J qt_msvc\qtbase "C:\Qt\6.9\msvc2022_64"
  - cmd: echo Done setting up qt_msvc/qtbase link.
  - cmd: echo Running generateVS22Project.bat...
  - cmd: .\generateVS22Project.bat

after_build:
  # ビルド後の処理（例：テストや成果物の作成）
  - ps: |
      echo "Build completed"