// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
// アイコン

IDI_ICON1 ICON "MyosotisFW.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090400"
        BEGIN
            VALUE "FileDescription", "Myosotis Game Framework"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Kong9812"
            VALUE "LegalCopyright", "(c)2025 Kong9812. All rights reserved."
            VALUE "OriginalFilename", "MyosotisFW.exe"
            VALUE "ProductName", "Myosotis Framework"
            VALUE "ProductVersion", "1.0.0.0"
        END
        BLOCK "04110411"
        BEGIN
            VALUE "FileDescription", "Myosotis Game Framework"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Kong9812"
            VALUE "LegalCopyright", "(c)2025 Kong9812. All rights reserved."
            VALUE "OriginalFilename", "MyosotisFW.exe"
            VALUE "ProductName", "Myosotis Framework"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1024, 0x411, 1041
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

